.Header {
  width: 100%;
  height: auto;
  background-color: #303133;
  position: sticky;
  box-shadow: 0 5px 10px 0px black;
}
.Wrapper {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Logo img {
  display: flex;
  width: 80px;
}
.Logo img:hover {
  cursor: pointer;
}
.Navigation {
  display: flex;
  justify-content: space-between;
}
.Link {
  text-decoration: none;
  color: #ffff;
  padding: 0 2rem;
  font-size: 14px;
  font-weight: 700;
  transition: transform 0.6s;
}
.Link:hover {
  -webkit-background-clip: text;
  background-clip: text;
  /* transform: scale(1.2); */
  color: #fdb822;
}
.Link:hover::after {
  display: block;
  content: '';
  height: 1.5px;
  background-color: #fdb822;
  width: 100%;
  margin-bottom: -17%;
  transition: transform 0.2s;
}
