.Wrapper {
  padding: 100px 0 100px 0;

  width: 1140px;
  margin: 0 auto;
}

.Tittle {
  width: 100%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 80px;
}

.Tittle:after {
  display: block;
  position: absolute;
  z-index: 2;
  content: '';
  height: 2px;
  background-color: #fdb822;
  width: 10%;
  margin-top: 46px;
}

.Tittle:before {
  z-index: 1;
  display: block;
  position: absolute;
  top: 78px;
  content: '';
  height: 2px;
  background-color: #dddddd;
  width: 100%;
}
.ProduktübersichtText {
  color: #1f88d2;
  padding-bottom: 26px;
  margin: 65px 0 25px 0;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
